%h1
  Your Conversation with
  = current_user.anonymized_name(@conversation_partner)
#user_icon
  - if current_user.received_message_from_partner?(@conversation_partner)
    = image_tag @conversation_partner.get_profile_photo_url
    = @conversation_partner.get_profile_name
  - else
    = image_tag '/assets/user_icon.png'


#new_message_container
  = render 'form'

#messages_container
  = render 'messages'