%section.bck.padding.light.text.center
  .row.text.book
    #flagged_message
    - if Message.is_flagged_by_user?(@messages, current_user)
      #already_flagged You have already flagged this spark

    %h5.text.bold Your Conversation with
    #user_icon
      - if current_user.received_message_from_partner?(@conversation_partner)
        = image_tag @conversation_partner.get_profile_photo_url
      - else
        = image_tag '/assets/user_icon.png'

    - if current_user.received_message_from_partner?(@conversation_partner)
      %h4.text.bold= @conversation_partner.get_profile_name
    - else
      %h6= current_user.anonymized_name(@conversation_partner)

    = render 'form'


    = render 'messages'
    %hr
    / = link_to('Flag this conversation', '#', html_options = {id: 'flag_link', :class => "button anchor secondary"})
    %a#flag_link.button.secondary
      %span.icon.flag
      %span Flag this conversation


    = form_for Flag.new, remote: true do |f|
      = f.label :reason, 'Reason for this flag:'
      = f.text_area :reason
      = f.hidden_field :flaggable_type, value: 'Message'
      = f.hidden_field :sender_id, value: @conversation_partner.id
      = f.submit "Save", data: { confirm: "Are you sure? This will block you from receiving future messages from #{current_user.anonymized_name(@conversation_partner)}. You will not be able to undo this action." }
