%section.bck.light.text.padding.center
  .row.text.book.padding
    %h5 Welcome to your Profile Page
    %hr

    / need to add facebook picture url...
    #facebook_picture
      = image_tag current_user.get_profile_photo_url

    %h4.text.bold= current_user.get_profile_name

    %hr
    = link_to "Edit Profile", edit_user_registration_path, :remote => true, :id => "profilelink2", :class => "button secondary padding"
    %hr



    %h2 Your Recent Notes

    %table
      %tr
        %th Title
        %th Location
        %th Created
      - @user_sparks.each do |spark|
        %tr
          %td= !spark.title.blank? ? (link_to spark.title, spark_path(spark), :remote => true) : (link_to "(Add title)", edit_spark_path(spark), :remote => true)
          %td= !spark.input_location.blank? ? (link_to spark.input_location, spark_path(spark), :remote => true) : (link_to "(Add location)", edit_spark_path(spark), :remote => true)
          %td= spark.created_at.advance(:hours => -7).strftime('%B %e, %Y at %l:%M %p')