- if !@nearby_sparks[0].nil?
  - @nearby_sparks.each do |spark|
    .spark
      - if !spark.title.blank?
        = link_to truncate(spark.title), spark_path(spark.id)
      - else
        = link_to truncate(spark.content), spark_path(spark.id)
      = truncate(spark.input_location)
      = truncate(spark.content)
      = spark.created_at.advance(:hours => -7).strftime('%B %e, %Y at %l:%M %p')
      = spark.user_id