%h1 Make a new Spark
#geolocation_status
  / The following will be auto updated by the spark_location.js if coords are found.
  %p NOTE: You must first "accept" the geolocation settings to post a spark


= form_for @spark, :method => "post", :remote => false do |f|
  = f.label :title
  = f.text_field :title, :id => "title", :placeholder => "I fell for you...."
  = f.label :input_location, "Location of Spark"
  = f.text_field :input_location, :id => "input_location", :placeholder => "The Hattery, SOMA, etc...."
  = f.label :content, "Spark Description"
  = f.text_area :content, :id => "content", :placeholder => "I almost tripped over my charger to hold the door for you...."
  = f.hidden_field :user_id, :value => current_user.id
  = f.hidden_field :latitude,  :id => "lat"
  = f.hidden_field :longitude, :id => "lon"
  = f.submit

%h1 Or, drop a pin, and return later to complete your Spark

= form_for @spark, :method => "post" do |f|
  = f.hidden_field :user_id, :value => current_user.id
  = f.hidden_field :latitude,  :id => "lat2"
  = f.hidden_field :longitude, :id => "lon2"
  = f.submit "Drop a Pin"