#accordion
  - @my_locations.each do |location|
    %h3= "#{location[0]}, #{location[1]}, #{location[2].advance(:hours => -7).strftime('%B %e, %Y at %l:%M %p')}"
    %div
      / Relevant sparks are sparks from any user that are not location_only
      - if current_user.relevant_sparks_near_location(location).empty?
        No notes were left here
      - else
        %ul
          - current_user.relevant_sparks_near_location(location).each do |spark|
            / if the current user has a spark that doesn't have a message,
            / remind them to add a message
            - if spark.user_id == current_user.id && spark.content.nil?
              %li= link_to 'Your spark here needs a message', spark_path(spark)
            / otherwise show a link to the spark
            - else
              - if !spark.content.nil?
                %li= link_to truncate(spark.content), spark_path(spark.id)