#sparkshow
  %section.bck.padding.light.text.center
    .row.text.book
      #flagged_spark
        - if @spark.is_flagged_by_user?(current_user)
          #already_flagged You have already flagged this spark

      %h2.mypadding= @spark.title
      %span.icon.heart




      %hr
      %h5
        = @spark.content

      %hr
      %h5
        This spark occurred at
      %h6.text.bold
        = @spark.input_location
      %h5
        = @spark.created_at.advance(:hours => -7).strftime('%B %e, %Y at %l:%M %p')

      %hr
      #sparkshowlinks
        - if @spark.user_id == current_user.id
          = link_to 'Edit this spark', edit_spark_path(@spark.id)
          = link_to "Delete", spark_path(@spark), :data => { :confirm => "Are you sure?" }, :method => :delete
        - else
          = link_to 'Message this user', message_path(@spark.user_id), :remote => true

        = link_to('Flag this spark', '#', html_options = {id: 'flag_link'})
      %hr
        = form_for Flag.new, remote: true do |f|
          = f.label :reason, 'Reason for this flag:'
          = f.text_area :reason
          = f.hidden_field :flaggable_type, value: 'Spark'
          = f.hidden_field :flagged_id, value: @spark.id
          = f.submit "Flag this Spark", data: { confirm: "Are you sure? You will not be able to undo this action." }, :class => "button secondary"